<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
<h2 class="section-heading"><strong>When and Where:</strong></h2>
<p></p>
<h2 class="section-heading">9:30am 29th March 2025, Teachers Club, Parnell Square, Dublin. Entry €10</h2>
                
                <hr class="primary">
                <a href="https://forms.gle/QBMLD1fCvu4KWMBw5" class="btn btn-primary btn-xl">Sign up here</a>
                <h2 class="section-heading">Games</h2>
                <hr class="primary">
                <p>You can propose games by adding to our BGG list <a href="https://boardgamegeek.com/geeklist/350180/meeple-con-29th-of-march-2025-dublin-potential-gam">here</a> or through this form <a href="https://forms.gle/YZ8N8qPRSRSg6cBf6">here</a></p>
                <p>Games will open for sign up closer to the event, games will be finalized based on having enough players</p>
                <p>Listed are the seats assigned / max seats. If a game is full and you have a copy and can faciliate we can open a second table</p>
            </div>
         </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>All Day Games</h3>
                    <p class="text-muted">Arcs 4/4</p>
                    <p class="text-muted">Fire in the Lake 2/4</p>
                    <p class="text-muted">Civilization 7/7</p>
                    <p class="text-muted">Here I Stand 6/6</p>
                    <p class="text-muted">Twilight Imperium 6/6</p>
                    <p class="text-muted">A Day of Uwe Rosenberg Games 3/4</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>Morning Games</h3>
                    <p class="text-muted">Dominant Species 2/6</p>
                    <p class="text-muted">Three Kingdoms 3/3</p>
                    <p class="text-muted">Imperium 2030 3/6</p>
                    <p class="text-muted">Nucleum 3/4</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>Afternoon Games</h3>
                    <p class="text-muted">Food Chain Magnate 4/4</p>
                    <p class="text-muted">Shogun 2/5</p>
                    <p class="text-muted">Obsession 3/4</p>
                    <p class="text-muted">Cyclades 2/5</p>
                </div>
            </div>
            
        </div>
    </div>
     
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">           
                <h2 class="section-heading">Discussion Thread</h2>
                <hr class="primary">
                <p>If you've questions you can ask on out BGG thread <a href="https://boardgamegeek.com/thread/3435496/meeple-con-29th-of-march-2025-dublin">here</a></p>
                <h2 class="section-heading">Key Dates</h2>
<hr class="primary">
                <p>Now: Register Interest and Propose games</p>
                <p>February: Games open for sign up</p>
                <p>March: Games and players finalized</p>
                <p>The Con!</p>
                
                <h2 class="section-heading">About the Con</h2>
                <hr class="primary">
                 
                <p><b>Meeple Con</b> is a day of board gaming, focused on longer and/or high complexity games (examples include Splotter Games, Pax Games, Through the Ages, Mage Knight, Eclipse, etc). These games often are hard to get to the table due to length or rules complexity. That said we are open to any games people want to facilitate and people want to play. To help create the best experience we are looking for people to volunteer to facilitate their game, and the con will organize getting the players needed. This ensures every one is playing a game, players can learn the rules in advance and games can be sized for best the experience.</p>
             <p>Con Director: Aidan Duggan</p>
            <p>Credit to Chimera Con for the format.</p>

<p><strong>
Previous:</strong></p>

<p><strong>
Meeple Con 1 - 2nd September 2023</strong></p>

<p>
Thank you to all those who attended the first Meeple Con at the Teacher's Club in Dublin. We had 22 attendees, and played Twilight Imperium, The Great Zimbabwe, Guards of Atlantis II, Dune, John Company, Food Chain Magnate, Dominant Species, Spirit Island: Jagged Earth.
</p>

<p><strong>
Meeple Con 2 - 6th April 2024</strong></p>

<p>
Thank you to all those who attended the second Meeple Con at the Teacher's Club in Dublin. We had 27 attendees, and playing the con's classics plus Cuba Libra and Successors.
</p>


   </div>


    </div>
</section>
