<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include header.html %}

<body id="page-top">
  {% include nav.html %}
   <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Anti-Harassment Policy</h2>
                <hr class="primary">
                <p>1. Player’s Code

<ul> i) Please treat the other players and game facilitator with respect.
</ul>

<ul>
  ii) Please turn up on time for your games. The facilitator may replace late players.
            </ul>
<ul>
iii) The game facilitator will lead a discussion on basic ground rules at the start of the game or via email - is this game for learning or is it expected to be competitive and so on. If the game uses dice when dice will be re-rolled for being cocked, out of bounds etc. They may provide a link to an electronic version of the rules and request you familiarise yourself with them before the game, please do so to maximise the speed of play for everyone.
 </ul>
              <ul>
iv) If you are not having fun, please try talking to your facilitator and/or the other players, we would like to avoid game drop-outs if all possible, and most issues can be resolved by talking about it.
 </ul>
                  <ul>
v) During the game, the facilitator has the final say. If there is a remaining problem you can raise it with the Committee after the game.
 </ul>
              
2. Anti-Harassment Policy
                  <ul>

Meeple Con holds a zero tolerance policy in regards to harassment towards or by any attendee, staff member, or committee member of the convention. Examples of such behaviour include, but are not limited to; verbal abuse, emotional abuse, sexual abuse, and physical abuse.
 </ul>
                  <ul>
Any discriminatory behaviour towards or by any attendee, staff member, or committee member is considered unacceptable behaviour and will be treated as such. Discriminatory behaviour includes, but is not limited to, degrading or disparaging comments or physical aggressiveness on the basis of sex, gender, sexuality, race, religion, political affiliation, or disability.
 </ul>
                  <ul>
Any harassment, including sexual harassment, occurring during the convention shall be considered a serious offense and will be treated as such. Examples of sexual harassment include, but are not limited to; unwanted sexual contact, sexual comments, or advances.
 </ul>
                  <ul>
Any breach of this policy is considered a serious offense and should be reported to a staff/committee member. In situations where it is deemed necessary, the perpetrator may be asked to vacate the convention and the Teacher’s Club grounds. A possible ban from attending future Meeple Con events will be considered if necessary.
 </ul>
                  <ul>
(Based on the Chimera Con's anti-harassment policy, https://sites.google.com/view/chimeracondublin/home/players-code-and-anti-harassment-policy)
</body></p>
            </div>

    </div>
  

</html>
